.events-scroll{
	margin:0px;padding:0px;
	width:100%;
	}
.event-scroll{
	list-style:none;
	display:none;
	position:absolute;
	top:auto;
	bottom:auto;
	left:0px;
	float:left;
	width:350px;
	}
	
.event-scroll h2{
	margin-left:20px;
	}
	
.event-scroll h3{
	margin-left:20px;
	}
.side-events h1{
	color:red;}
.side-events{
	width:400px; height:100%; background: #fff; z-index:400; position:absolute;top:0;right:0; color:#000; padding:100px 20px 10px;
	}

.slide-text-box{
	width:970px; height:150px; background:rgba(10,10,10,0.85); z-index:4000; position:absolute;bottom:75px;left:0; color:#fff;padding:10px;
	}
	
.container{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	background:#333;
	z-index:100;
}
.slides{
	
	}
	
.slide img{
	height:auto;
	width:998px;
	}
	
.slide{
	display:none;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:#333;
	position:absolute;
	z-index:200;
	list-style:none;
	top:0px;
	left:0px;
	overflow:hidden;
	}

.currentSlide{
	display:block;
	}

.info-scroll{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:75px;
	background:#084184;
	z-index:500;
	}
	
ul.scrollers{
	padding:0px;margin:0px;
	}
li.scroller{
	padding:0px 50px;
	margin:20px 0px 0px 10px;
	display:inline-block;
	list-style:none;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-weight:600;
	border-right:1px dashed #eee;
	
	}
/*************misc************/
.red{
	color:red;
}

.green{
	color:green;
}
.small{
	font-size:10px;
}
